* {
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: headings;
    src: url(Fenix.ttf);
}
@font-face{
    font-family: paragraph;
    src: url(CenturyGothic.ttf);
}
#map {
    margin-top: 20vh;
        height: 50vh;
        width: 50%;
       }
footer{
    height: 100vh;
    width: 100%;
}
footer h1{
    text-align: center;
}
#homebutton{
    position: fixed;
    top: 10px;
    left:10px;
    background-color: #f5b58e;
    color:white;
    font-family: headings;
    width:4em;
    height: 4em;
    border-radius: 50%;
    border: 0;
    font-size: 1.5em;
    cursor: pointer;
}
#homebutton:hover{
    animation: scalelogo 0.5s ease-in-out 1;
}
svg:hover{
    animation: scalelogo 0.5s ease-in-out 1;
    cursor: pointer;
}
@keyframes scalelogo{
    20%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
p{
   font-family: paragraph;
}
h1{
    font-family: headings;
}
.slideshow-container > nav >div >a > svg >text{
    font-family: headings;
}
div > svg {
    overflow: visible;
}
div > svg > p{
    text-overflow: hidden;
}

.hide {
    display: none;
}
.category:nth-child(1) > div > svg > circle{
    stroke: #FFBF26;
}
.category:nth-child(1) > div > svg > text{
   fill: #FFBF26;
}
.category:nth-child(2) > div > svg > circle{
    stroke: #14BEAB;
}
.category:nth-child(2) > div > svg > text{
   fill: #14BEAB;
}
.category:nth-child(3) > div > svg > circle{
    stroke: #9E0F3B;
}
.category:nth-child(3) > div > svg > text{
   fill: #9E0F3B;
}
.category:nth-child(1) h1:nth-child(1){
    color:#FFBF26;
}
.category:nth-child(2) h1:nth-child(1){
    color:#14BEAB;
}
.category:nth-child(3) h1:nth-child(1){
    color:#9E0F3B;
}
.modal {
    position: fixed;
    z-index: 10;
    padding-top: 1em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #FFBF26;
    color: white;
    margin: 100px auto;
    padding: 20px;
    border: 0.5em solid #fff;
    width: 80%;
}
.modal-name{
    text-align: center;
}
#modal-exit{
    position: fixed;
    top:10px;
    right: 10px;
    background-color: rgba(0,0,0,0);
    color: white;
    border: 0;
    font-size: 3em;
    border-radius: 10%;
}
#modal-exit:hover{
    background-color: #7b0000;
}
    .category:nth-child(3){
        grid-template-columns: repeat(3,1fr);
    }
    .category div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    grid-template-areas:
        ". svg ."
        "h1 h1 h1"
        "p p p";
        text-align: center;
    }
    .category div svg{
        grid-area: svg;
    }
    .category div h1{
        grid-area: h1;
    }
    .category div p{
        grid-area: p;
    }
    }
    /* Navigation */
nav svg{
    display: block;
}
    nav {
        display: grid;
        width: 98.7vw;
        bottom: 0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "a a a a";
        grid-gap: 2em;
        padding: 2em;
        position: absolute;
        z-index: 7;
        background-color: rgba(255, 255, 255, 0.8);
    }
/*    nav >p {
        align-self: center;
        overflow: auto;
        position: absolute;
        top: 50%;
    }*/
    nav > div {
        display: grid;
        justify-content: center;

    }
    nav > div >a {
        text-decoration: none;
    }
    nav > div >a >h1 {
        text-align: center;
    }
    .category {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3em;
        padding-top: 30vh;
        padding-bottom: 30vh;
    }
    #header{
        grid-column: 1/-1;
       text-align: center;
        font-size: 2em;
    }
    img.welcome{
        display: none;
    }
/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}
.size-img {
    width: 100%;
    height: 100vh;
}

.page-title {
    text-align: center;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.02);
}
/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@media screen and (max-width: 480px){
    .caruselus{
        display: none;
    }
   #homeee{
        display: grid;
       width: 100%;
       grid-template-columns: repeat(3,1fr);
       grid-template-areas:
           ". wcm ."
           "nv nv nv"
           "nv nv nv";
    }
    img.welcome{
        display: block;
        width: 300px;
        margin-top: 1.5em;
        grid-area:wcm;
    }
    .slideshow-container{
        grid-area:nv;
    }
    nav svg{
        display: none;
    }
    nav {
        display: grid;
        width: 98.7vw;
        bottom: 0;
        grid-template-columns: 1fr;
        grid-template-areas: "a";
        grid-gap: 2em;
        padding: 2em;
        position: static;
        background-color: rgba(255, 255, 255, 0.8);
    }
    #homebutton{
    top: 5px;
    left: 5px;
    width:4em;
    height: 4em;
    font-size: 1em;
    }
    .category{
        grid-template-columns: 1fr;
    }
    .category:nth-child(3){
        grid-template-columns: 1fr;
    }
}
