* {
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: headings;
    src: url(Fenix.ttf);
}
@font-face{
    font-family: paragraph;
    src: url(CenturyGothic.ttf);
}
p{
   font-family: paragraph;
}
h1{
    font-family: headings;
}
.slideshow-container > nav >div >a > svg >text{
    font-family: headings;
}
div > svg {
    overflow: visible;
}
div > svg > p{
    text-overflow: hidden;
}

.hide {
    display: none;
}
.category:nth-child(1) > div > svg > circle{
    stroke: #FFBF26;
}
.category:nth-child(1) > div > svg > text{
   fill: #FFBF26;
}
.category:nth-child(2) > div > svg > circle{
    stroke: #14BEAB;
}
.category:nth-child(2) > div > svg > text{
   fill: #14BEAB;
}
.category:nth-child(3) > div > svg > circle{
    stroke: #9E0F3B;
}
.category:nth-child(3) > div > svg > text{
   fill: #9E0F3B;
}
.modal {
    position: fixed;
    z-index: 10;
    padding-top: 1em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #7c1f17;
    width: 80%;
}

svg {
    display: none;
}

.mobile-nav {
    display: block;
}

nav > div >a {
        text-decoration: none;
    }
/* Navigation */

nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "p";
    align-items: center;
    justify-content: center;
    grid-gap: 2em;
/*    background-color: brown;*/
}

nav>p {
    grid-area: "p";
}
/* Slideshow container */

.slideshow-container {
/*    width: vw;*/

    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.size-img {
    width: 100%;
    height: 100vh;
}

.page-title {
/*    background-color: brown;*/
/*    color: white;*/
    text-align: center;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.02);
}
/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media (min-width: 768px) {
    /* Navigation */
    svg {
        display: block;
    }
    nav {
        display: grid;
        width: 98.7vw;
        bottom: 0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "a a a a";
        grid-gap: 2em;
        padding: 2em;
        position: absolute;
        z-index: 7;
        background-color: rgba(255, 255, 255, 0.8);
    }
/*
    nav > a {
        display: grid;
        align-items: center;
            padding: 3em;
        height: 10em;
        width: 10em;
        grid-area: "a";
        margin: auto;
        border: 1px solid;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
    }
*/
    nav >p {
        align-self: center;
        overflow: auto;
        position: absolute;
        top: 50%;
    }
    nav > div {
        display: grid;
        justify-content: center;

    }
    nav > div >a {
        text-decoration: none;
    }
    nav > div >a >h1 {
        text-align: center;
    }
    .category {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .container >.category > div{
        justify-content: center;

    }
    #header{
        grid-column: 1/-1;
       text-align: center;
    }
    .welcome{
        width: 300px;
        position: absolute;
        z-index: 7;
        left: 38%;
        margin-top: 2em;
    }
    }
}
